<!DOCTYPE html>
<html>
<head>
    <title>Rainbow</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/styles.css'>
    <style>
      body {
        background-color: {{ color }};
        }
    </style>
    <script src='main.js'></script>
</head>
<body>
    <h1>Joseph's Rainbow</h1>
    <h3 id="color">{{ color }}</h3>
</body>
</html>